</body>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/jquery.scrollTo.min.js"></script>
<script src="/bootstrap/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/bootstrap/js/jquery.sparkline.js" type="text/javascript"></script>
<script src="/bootstrap/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="/bootstrap/js/owl.carousel.js"></script>
<script src="/bootstrap/js/jquery.customSelect.min.js"></script>
<script src="/bootstrap/js/common-scripts.js"></script>
<script src="/bootstrap/js/sparkline-chart.js"></script>
<script src="/bootstrap/js/easy-pie-chart.js"></script>
<script src="/public/layer/layer.js"></script>
<script src="/public/datetimepicker/moment-with-locales.js"></script>
<script src="/public/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/public/js/public.js"></script>
<script src="/travel/js/admin/pub.js"></script>
<script src="/travel/js/admin/admin.js"></script>
</html>
