
<!-- Footer Bottom / Start -->
<div id="footer-bottom">

	<!-- Container -->
	<div class="container">

		<div class="eight columns">© 电影购票系统</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>


<!-- Java Script
================================================== -->
<script src="/user/scripts/jquery-1.11.0.min.js"></script>
<script src="/user/scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="/user/scripts/jquery.jpanelmenu.js"></script>
<script src="/user/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/user/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/user/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/user/scripts/jquery.magnific-popup.min.js"></script>
<script src="/user/scripts/hoverIntent.js"></script>
<script src="/user/scripts/superfish.js"></script>
<script src="/user/scripts/jquery.pureparallax.js"></script>
<script src="/user/scripts/jquery.pricefilter.js"></script>
<script src="/user/scripts/jquery.selectric.min.js"></script>
<script src="/user/scripts/jquery.royalslider.min.js"></script>
<script src="/user/scripts/SelectBox.js"></script>
<script src="/user/scripts/modernizr.custom.js"></script>
<script src="/user/scripts/waypoints.min.js"></script>
<script src="/user/scripts/jquery.flexslider-min.js"></script>
<script src="/user/scripts/jquery.counterup.min.js"></script>
<script src="/user/scripts/jquery.tooltips.min.js"></script>
<script src="/user/scripts/jquery.isotope.min.js"></script>
<script src="/user/scripts/puregrid.js"></script>
<script src="/user/scripts/stacktable.js"></script>
<script src="/user/scripts/custom.js"></script>
<script src="/public/layer/layer.js"></script>
<script src="/public/js/public.js"></script>
<script src="/travel/js/user/pub.js"></script>

<!-- Style Switcher
================================================== -->
<script src="/user/scripts/switcher.js"></script>




</body>
</html>
