<% include ../header.html %>

<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">管理员列表
            <div class="pull-right">
              <button class="btn btn-info btn-addadmin">添加管理员</button>
            </div>
          </header>
          <div class="panel-body">
            <table class="table table-striped table-advance table-hover">
              <thead>
                <tr>
                  <th class="hidden-phone"><i class="icon-question-sign"></i>管理员账号</th>
                  <th class="hidden-phone"><i class="icon-question-sign"></i>管理员姓名</th>
                  <th><i class="icon-bookmark"></i>管理员权限</th>
                </tr>
              </thead>
              <tbody class="tbody-daibaninfo">
                <% for (var i in adminList) { %>
                  <tr>
                    <td><%= adminList[i].account %></td>
                    <td><%= adminList[i].name %></td>
                    <td><%= adminList[i].quanxian==0?'普通管理员':'超级管理员' %></td>
                    <td></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
<script>
  $(function() {
    $('.leftli-admin').addClass('active');
  });
</script>

<% include ../footer.html %>
