<div class="panel-body panel-uploadChanPinImg">
  <form method="post" action="/admin/reuploadImg" enctype="multipart/form-data" class="form-horizontal tasi-form">
    <div class="form-group">
      <label class="col-sm-3 control-label">上传图片(选择图片时按住Ctrl多选)</label>
      <div class="col-sm-9">
        <input type="file" name="image" multiple="multiple" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <input type="submit" value="上传图片" class="btn btn-success pull-right"/>
      </div>
    </div>
  </form>
</div>
